@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>When code is checked in into Git(hub), an AppVeyor build is triggered automatically.<br/>
    And a nuget package is pushed to the Octopus Deploy server.
</p>

<p>@ViewBag.ShowVariable </p>
